name: Build Docker
on:
  push:
    branches:
      - "main"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        name: "Checkout repository"
      - run: echo "Repository ${{ github.repository }}@${{ github.ref }} has been cloned"
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and tag Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/go-api:latest .
      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/go-api:latest
