name: Build Docker
on:
  push:
    branches:
      - "main"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        name: "Checkout repository"
      - run: echo "Repository ${{ github.repository }}@${{ github.ref }} has been cloned"
      - name: Build Docker Image
        run: docker build -t go-api:latest .
